In [1]:
in_file = "/home/benr/wqmodels/ssm/freshwater_iav_1/data/ssm_met_2012+13.xlsx"
comment = "MET file from appended 2012 0.65 alb and ssm_mc_0.65alb_2013.dat"
out_file = "/home/benr/wqmodels/ssm/freshwater_iav_1/data/meteorologic_fullgrid.dat"

import pandas as pd

In [2]:
df = pd.read_excel(in_file, index_col=0)
df.head()

         KT     TE     IO     FD     WS
JDAY
0.0   14.94  23.03  2.283  0.244  3.974
0.5   14.94  23.03  2.283  0.244  3.974
1.5   14.94  23.03  3.828  0.244  5.476
2.5   14.94  23.03  1.072  0.244  7.277
3.5   14.94  23.03  4.543  0.244  6.439

In [3]:
with open(out_file,"w") as f:
    print(comment, file=f)
    print('KT = coef of heat exchange (watts/m2/C) (not used), TE = equil temp (C) (not used)', file=f)
    print('IO = PAR (E/m2/day), FD=Fraction of day, and WS = wind speed (m/s)', file=f)
    print('    JDAY    KT      TE      IO      FD      WS', file=f)

    for i,row in df.iterrows():
        print("{:8.3f} {:7.3f} {:7.3f} {:7.3f} {:7.3f} {:7.3f}".format(*([i]+list(row))), file=f)